apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: {{ bastion_pod_name }}
    app: ssh-bastion
  name: ssh-bastion
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ bastion_pod_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ bastion_pod_name }}
        app: ssh-bastion
    spec:
      containers:
        - name: ssh-container
          image: {{ image_digest }}
          imagePullPolicy: Always
          ports:
          - containerPort: 22
          env:
          - name: ANSIBLE_SSH_KEY
            value: "{{ my_ssh_key }}"
